<!DOCTYPE html>
<html lang="ru">

<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <!-- Подключение пользовательских стилей -->
        {% endblock %}

        <title>{% block title %}Заголовок страницы{% endblock %}</title>
    {% endblock %}
    <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script> <!-- Подключение jQuery -->
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Выравнивание меню справа -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.home') }}">Главная</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
                </li>
                {% if current_user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard.admin') }}">Панель управления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Добавить станцию</a>
                        <!-- Пункт меню для администратора -->
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard.user') }}">Панель управления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Добавить станцию</a>
                        <!-- Пункт меню для пользователя -->
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Регистрация</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-dismissible {% if messages[0].startswith('Login unsuccessful') or messages[0].startswith('Invalid') %}alert-danger{% else %}alert-success{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!-- Подключение пользовательских скриптов -->
{% endblock %}
</body>

</html>
