{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Welcome to the Admin Dashboard, {{ current_user.username }}!</h2>
        <!-- Add content specific to the admin dashboard -->
        <div class="row">
            <div class="col-md-6">
                <div class="border rounded p-3 m-2">
                    <h5 class="text-center">Метеостанции</h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Широта</th>
                            <th>Долгота</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for station in stations %}
                            <tr>
                                <td>{{ station.id }}</td>
                                <td>{{ station.name }}</td>
                                <td>{{ station.description }}</td>
                                <td>{{ station.latitude }}</td>
                                <td>{{ station.longitude }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border rounded p-3 m-2">
                <h5 class="text-center">Пользователи</h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Телеграм</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.telegram_id }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="border rounded p-3 m-2">
                    <h5 class="text-center">Данные станций</h5>
                    <table class="table table-bordered" id="weatherData">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Время</th>
                            <th>Темп</th>
                            <th>Влаж</th>
                            <th>Давл</th>
                            <th>Ск.Вет</th>
                            <th>Нпр.Вет</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- Добавляем скрипт для динамического обновления данных -->
                    <script>
                        // Вызываем функцию обновления данных при загрузке страницы
                        $(document).ready(function () {
                            updateWeatherData();
                        });

                        function updateWeatherData() {
                            $.ajax({
                                url: "{{ url_for('weather.get_latest_weather_data') }}",  // Замените на ваш маршрут Flask
                                type: "GET",
                                dataType: "json",
                                success: function (data) {
                                    // Очищаем текущие данные в таблице
                                    $("#weatherData tbody").empty();

                                    // Добавляем новые данные в таблицу
                                    $.each(data, function (index, record) {
                                        $("#weatherData tbody").append(
                                            "<tr>" +
                                            "<td>" + record.id + "</td>" +
                                            "<td>" + record.timestamp + "</td>" +
                                            "<td>" + record.temperature + "</td>" +
                                            "<td>" + record.humidity + "</td>" +
                                            "<td>" + record.pressure + "</td>" +
                                            "<td>" + record.wind_speed + "</td>" +
                                            "<td>" + record.wind_direction + "</td>" +
                                            "</tr>"
                                        );
                                    });
                                },
                                error: function (error) {
                                    console.log("Error fetching data: ", error);
                                }
                            });
                        }


                        // Обновляем данные каждые 5 секунд (или другой интервал по вашему выбору)
                        setInterval(updateWeatherData, 5000);

                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="border rounded p-3 m-2">Блок 4</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="border rounded p-3 m-2">Блок 5</div>
            </div>
            <div class="col-md-6">
                <div class="border rounded p-3 m-2">Блок 6</div>
            </div>
        </div>
    </div>
{% endblock %}
